<div>
    <div class="body-container">
  <h2 class="text-center">Get detailed information about a domain name, including its registrar, registration date, expiration date, and more. </h2>

  </div>
  <div class="search-container">
    <mat-form-field appearance="outline" class="search-input">
      <!-- <mat-label>Enter domain</mat-label> -->
      <input
        matInput
        [formControl]="domainControl"
        placeholder="Search for a domain, e.g., vwaran.tech"
      />
    </mat-form-field>

    <button mat-raised-button (click)="onSubmit()" class="search-btn" [disabled]="loading">
      <!-- <mat-icon>search</mat-icon> -->
      Analyse
    </button>
  </div>

</div>
