@use '@angular/material' as mat;

@include mat.core(); // Required base styles

// Define themes
$light-theme: mat.define-light-theme((color: (primary: mat.define-palette(mat.$blue-palette),
        accent: mat.define-palette(mat.$grey-palette),
      )));

$dark-theme: mat.define-dark-theme((color: (primary: mat.define-palette(mat.$blue-grey-palette),
        accent: mat.define-palette(mat.$blue-grey-palette),
      )));

@include mat.all-component-typographies($light-theme);
@include mat.all-component-densities($light-theme);

.light-theme {
  @include mat.all-component-colors($light-theme);
  --bg-color: #f9f9f9;
  background-color: var(--bg-color);
  color: #0a0a0a;
  --border-top: 1px solid rgba(0, 0, 0, 0.05);
  --border-bottom: 1px solid rgba(0, 0, 0, 0.05);

}

.dark-theme {
  @include mat.all-component-colors($dark-theme);
  --bg-color: #0a0f1c;
  background-color: var(--bg-color);
  color: #ffffff;
  --border-top: 1px solid rgba(255, 255, 255, 0.1);
  --border-bottom: 1px solid rgba(255, 255, 255, 0.1);

}

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Berkshire+Swash&family=Outfit:wght@100..900&family=Pacifico&family=Rampart+One&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
app-root,
mat-sidenav-container,
mat-sidenav-content {
  height: 100%;
}


html,
body {
  margin: 0;
  padding: 0;
  // min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--bg-color);
  color: inherit;
  box-sizing: border-box;
}


app-root {
  display: flex;
  flex-direction: column;
  // min-height: 100vh;
}

.mat-drawer-container {
  position: inherit !important;
  height: 100%;
  z-index: 1;
  color: var(--mat-sidenav-content-text-color);
  background-color: var(--mat-sidenav-content-background-color);
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  display: block;
  overflow: hidden;
}

.sidenav-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: var(--border-bottom);

}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100% !important;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mt-5 {
  margin-top: 3rem;
}



.main-toolbar {
  background-color: var(--bg-color) !important;
  color: inherit;
  box-shadow: none;
  padding: 0;
  display: flex;
  align-items: center;
}



.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 1.5rem;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.body-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 1.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  overflow-x: hidden;


  .chart-header-top {
    font-weight: 500;
    font-size: 1.4rem;
    color: inherit;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 2.5px solid #9bb0ff;
  }

  .card-header-top {
    font-weight: 500;
    font-size: 1.4rem;
    color: inherit;
    margin-bottom: 1.2rem;
    margin-top: 2.5rem;
    border-bottom: 2.5px solid #9bb0ff;
  }
}

.brand {
  font-weight: 700;
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  font-family: "Balsamiq Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  cursor: pointer;
}


.spacer {
  flex: 1;
}


/* For web nav links */
.links {
  display: flex;
  align-items: center;
  gap: 1.75rem;

  a {
    display: flex;
    align-items: center;
    font-size: 1rem;

  }
}


/* For mobile nav links */
mat-nav-list a {
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
}

/* drawer styles */
::ng-deep .mobile-drawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}


.drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  padding: 1rem 1.5rem;
  padding-bottom: 0.5rem !important;
  flex-wrap: nowrap;
}


.search-input {
  display: inline-flex;
  width: 450px;
  align-items: center;
  margin: 0;
}

.search-btn {
  height: 57px !important;
  padding: 0 1.75rem !important;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: white !important;
  background-color: rgb(145, 145, 252) !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;

  &:hover {
    background-color: rgb(170, 170, 253) !important;
    color: white !important;
  }
}

.text-center {
  text-align: center;
  max-width: 700px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: 500;
  padding-top: 8rem;
}


.domain-details-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 2rem 1.5rem;
}

.domain-card {
  background-color: var(--bg-color) !important; // Match your dark theme
  color: inherit;
  border-radius: 1rem;
  border: 1.5px solid #9bb0ff !important;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
  padding: 1rem;
  cursor: pointer;
  animation: fadeIn 0.4s ease-in-out;


  &:hover {
    transform: translateY(-5px);
  }

  .card-icon {
    background: transparent;

    mat-icon {
      font-size: 27px;
      color: #9bb0ff;
    }
  }

  mat-card-title {
    font-size: 1.2rem;
    font-weight: 500;
    color: inherit;
  }

  .card-value {
    font-size: 1.1rem;
    font-weight: 400;
    color: inherit;
    margin-top: 0.5rem;
    word-break: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;

  }

  100% {
    opacity: 1;
  }
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  text-align: center;
  margin-bottom: 2rem;
}

.loader-txt {
  display: block !important;
  padding-top: 1rem;
}

.spinner-img {
  width: 120px;
  height: 120px;
}

.content {
  flex: 1;
  padding: 0rem;
}

.footer-container {
  width: 100%;
  // max-width: 1200px;
  padding: 0.25rem 1.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  overflow-x: hidden;
  border-top: var(--border-top);

}

.footer-toolbar {
  background-color: transparent !important;
  color: inherit;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 0.5rem;
}

.footer-text {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.5;
  word-break: break-word;
  text-align: center;
}

.footer-block {
  display: inline-block;
}

.link-footer-txt {
  color: inherit !important;
  text-decoration: underline;
  word-break: break-word;
}

.no-data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.no-data-img {
  width: 200px;
  opacity: 0.8;
}

.toggle-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.toggle-chart-button-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.domain-view-more {
  color: white !important;
  background-color: rgb(145, 145, 252) !important;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background-color: rgb(170, 170, 253) !important;
    color: white !important;
  }
}

.skeleton-card {
  background-color: var(--bg-color);
  border-radius: 0.5rem;
  border: 1.5px solid #9bb0ff;
  padding: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  animation: pulse 1.5s infinite ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 340px;
  height: 200px;
  margin: 0.5rem;

  .skeleton-header {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    .skeleton-avatar {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: #9bb0ff;
      flex-shrink: 0;
    }

    .skeleton-title {
      height: 16px;
      width: 60%;
      border-radius: 8px;
      background-color: #9bb0ff;
    }
  }

  .skeleton-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .skeleton-line {
      height: 12px;
      border-radius: 4px;
      background-color: #9bb0ff;

      &.short {
        width: 40%;
      }

      &.medium {
        width: 65%;
      }

      &.long {
        width: 100%;
      }
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}



.error-box {
  background-color: #fff2f2;
  display: flex;
  flex-direction: column;
  padding: 40px 150px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
  font-weight: 500;
  width: fit-content;
  margin: 0 auto;
  max-width: 100%;
  overflow-x: hidden;
  flex-wrap: wrap;

  .mat-icon-error {
    font-size: 45px;
    height: 50px;
    width: 50px;
    color: #f64f4f;

  }

  .mat-icon-txt {
    font-size: 16px;
    color: #f64f4f;

  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* stack spinner and text vertically */
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 8px solid #ccc;
  border-top-color: rgb(145, 145, 252);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

.spinner-text {
  color: inherit;
  user-select: none;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Balsamiq Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  cursor: pointer;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.bg-image-insight {
  width: 260px;
  padding: 10px;
  pointer-events: none;
}

.charts-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 2rem 1rem;
  max-width: 1200px;
  padding: 0rem 1.5rem;
  margin: auto;
  box-sizing: border-box;
  
}

.chart-card {
  background-color: var(--bg-color) !important;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  border: 1.5px solid #9bb0ff !important;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
  cursor: pointer;
  animation: fadeIn 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  min-height: 300px; 

  &:hover {
    transform: translateY(-5px);
  }

  h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  canvas {
    max-width: 320px !important;
    height: 180 !important;
    margin: auto auto;
    display: block;
  }
  .chart-header{
    font-weight: 500;
    font-size: 1.2rem;
  }
}

.insight-fitler {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;

  button {
    padding: 6px 12px;
    border: none;
    background: #eee;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;

    &.active {
      background-color: rgb(145, 145, 252) !important;
      color: white;
    }
  }
}



@media (max-width: 600px) {
  .container {
    padding: 0rem 0.5rem !important;
  }

  .brand {
    font-size: 1.4rem;
  }

  .search-container {
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 1rem !important;
  }

  .search-input {
    width: 100%;
  }

  .text-center {
    padding-top: 2rem;
    font-weight: 500;;
    text-align: justify;
  }

  .footer-text {
    flex-direction: column;
    font-size: 0.9rem;
  }

  .footer-content {
    flex-direction: column;
    gap: 0.3rem;
  }

  .error-box {
    padding: 20px;
    margin-bottom: 5px;
  }

  .content {
    flex: 0.5;
    padding: 0rem;
  }

  .bg-image-insight {
    width: 230px;
    padding: 10px;
    margin-bottom: 20px;
    pointer-events: none;
  }
  .chart-card {
  min-height: 200px !important; 
}
.charts-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  margin: 2rem 1rem;
  max-width: 1200px;
  padding: 0rem 1.5rem;
  margin: auto;
  box-sizing: border-box;
  
}
}


@media (max-width: 768px) {
  .domain-details-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    padding: 1.5rem 1.5rem;

  }

  .text-center {
    padding-top: 2rem;
    font-weight: 500;;
    text-align: justify;
  }

  .error-box {
    margin-bottom: 5px;
    padding: 1.5rem 1rem;

  }

  .sidenav-container {
    border-bottom: var(--border-bottom);
  }


  .footer-container {
    border-top: none;
  }
}

@media (min-width: 769px) {
  .search-btn {
    margin-top: -23px !important;
    margin-left: -15px !important;
  }

  .card-value {
    font-size: 1.2rem;
    font-weight: 400;
    color: inherit;
    margin-top: 0.5rem;
    // word-break: break-all !important;
    word-break: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
  }
}


@media (min-width: 768px) and (max-width: 860px) {
  .content {
    flex: 0.75;
    padding: 0rem;
  }

  .footer-container {
    border-top: none;
  }
}