@use '@angular/material' as mat;

@include mat.core(); // Required base styles

// Define themes
$light-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$blue-palette),
    accent: mat.define-palette(mat.$grey-palette),
  )
));

$dark-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$blue-grey-palette),
    accent: mat.define-palette(mat.$blue-grey-palette),
  )
));

@include mat.all-component-typographies($light-theme);
@include mat.all-component-densities($light-theme);

.light-theme {
  @include mat.all-component-colors($light-theme);
  --bg-color: #f9f9f9;
  background-color: var(--bg-color);
  color: #0a0a0a;
}

.dark-theme {
  @include mat.all-component-colors($dark-theme);
  --bg-color: #0a0f1c;
  background-color: var(--bg-color);
  color: #ffffff;
}



html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--bg-color);
  color: inherit;
}


app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sidenav-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100% !important;
}

.mt-1 { margin-top: 0.25rem; }
.mt-2 { margin-top: 0.5rem; }
.mt-3 { margin-top: 1rem; }
.mt-4 { margin-top: 1.5rem; }
.mt-5 { margin-top: 3rem; }



.main-toolbar {
  background-color: var(--bg-color) !important;
  color: inherit;
  box-shadow: none;
  padding: 0;
  display: flex;
  align-items: center;
}



.container{
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
 box-sizing: border-box;
}

.body-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
   box-sizing: border-box;
}


.brand {
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}


.spacer{
  flex: 1;
}


/* For web nav links */
.links {
  display: flex;
  align-items: center;
  gap: 1.75rem;

  a {
    display: flex;
    align-items: center;
    font-size: 1rem;

  }
}


/* For mobile nav links */
mat-nav-list a {
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
}

/* drawer styles */
 ::ng-deep .mobile-drawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}


.drawer-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.search-container {
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 0rem; 
  padding: 1rem 1rem;
  flex-wrap: nowrap;
}


.search-input {
  display: inline-flex;
  width: 450px;
  align-items: center; 
  margin: 0; 
}

.search-btn {
  height: 57px !important; 
  padding: 0 1.75rem !important;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgb(170, 170, 253) !important;
  color: white !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  &:hover{
    background-color: rgb(145, 145, 252) !important;
    color: white !important;
  }
}

.text-center {
  text-align: center;
  max-width: 700px;
  padding-top: 8rem;
}


.domain-details-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 2rem 1rem;
}

.domain-card {
  background-color: var(--bg-color) !important;// Match your dark theme
  color: inherit;
  border-radius: 1rem;
  border: 1.5px solid #9bb0ff !important;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
  padding: 1rem;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
  }

  .card-icon {
    background: transparent;
    mat-icon {
      font-size: 27px;
      color: #9bb0ff;
    }
  }

  mat-card-title {
    font-size: 1rem;
    font-weight: 600;
    color: inherit;
  }

  .card-value {
    font-size: 1.2rem;
    font-weight: 700;
    color: inherit;
    margin-top: 0.5rem;
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.spinner-img {
  width: 120px;
  height: 120px;
}

.content {
  flex: 1; 
  padding: 1rem;
}

.footer-toolbar {
  background-color: transparent !important;
  color: inherit;
  justify-content: center;
  padding: 1rem;
  font-size: 0.5rem;
  text-align: center;
}

.footer-text{
  font-size: 1rem !important;
}

.link-footer-txt{
  color: inherit !important;
}

@media (max-width: 600px) {
  .search-container {
    flex-direction: column;
    align-items: stretch;
  }

  .search-input{
    width: 100%;
  }

  .text-center{
    padding-top: 4rem;
    text-align: justify;

}
}

.no-data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.no-data-img {
  width: 200px;
  opacity: 0.8;
}


.footer-toolbar {
  justify-content: center;
  padding: 10px 20px;
  font-size: 14px;
  background-color: var(--bg-color);
  color: inherit;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}




@media (max-width: 768px) {
  .domain-details-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 1.5rem 1rem;
}
}

@media (min-width: 769px) {
  .search-btn {
    margin-top: -23px !important;
    margin-left: -15px !important;
  }
   .card-value {
    font-size: 1.2rem;
    font-weight: 700;
    color: inherit;
    margin-top: 0.5rem;
    word-break: break-all !important;
  }
}






